<link rel="stylesheet" href="~/css/site.css">
<h1>CRÉDITOS</h1>
<p>Lola Vazquez</p>
<div class="imagenes">
    <img src="~/imagenes/integrante.jpg">
</div>
<a href='@Url.Action("Index")'><input type="button" value="INICIO">