@{
    ViewData["Title"] = "Home Page";
}
<h1>PRISON BREAK</h1>
<p>"La prision más díficil de escapar es tu mente"</p>
<img src="~/imagenes/portada.png">
<img src="~/imagenes/1.jpg">
<img src="~/imagenes/2.jpg">
<img src="~/imagenes/3.jpg">
<a href='@Url.Action("Comenzar")'>COMENZAR A JUGAR</a>
<a href="tutorial.cshtml">TUTORIAL</a>
<a href="creditos.cshtml">CRÉDITOS</a>