@{
    ViewData["Title"] = "Home Page";
}
<h1>PRISON BREAK</h1>
<p>"La prision más díficil de escapar es tu mente"</p>
<img src="imagen1.jpg">
<img src="imagen2.jpg">
<img src="imagen3.jpg">
<a href='@Url.Action("Comenzar")'>COMENZAR A JUGAR</a>
<a href="tutorial.cshtml">TUTORIAL</a>
<a href="creditos.cshtml">CRÉDITOS</a>