@{
    ViewData["Title"] = "Home Page";
}
<h1>nombre del juego</h1>
<p>slogan</p>
<img src="imagen1.jpg">
<img src="imagen2.jpg">
<img src="imagen3.jpg">
<a href="">COMENZAR A JUGAR</a>
<a href="tutorial.cshtml">TUTORIAL</a>
<a href="creditos.cshtml">CRÉDITOS</a>