<h1>titulo de la sala</h1>
<p>descripcion</p>
<img src="sala1.jpg">
@ViewBag.Error
<form action='@Url.Action("Habitacion")' method="post">
    <input type="text" name="clave" placeholder="Ingrese la clave" required>
    <input type="hidden" name="sala" value="1">
    <input type="submit" value="Enviar">
</form>