<h1>sala 2</h1>
<p>descripcion</p>
<img src="sala2.jpg">
@ViewBag.Error
<form action='@Url.Action("Habitacion")' method="post">
    <input type="text" name="clave" placeholder="Ingrese la clave" required>
    <input type="hidden" name="sala" value="2">
    <input type="submit" value="Enviar">
</form>