<link rel="stylesheet" href="~/css/site.css">
<h1>¿CÓMO SE JUEGA?</h1>
<p>El jugador deberá pasar por distintas salas y en cada sala deberá ingresar una contraseña, 
    que adivinará mediante pistas, para poder pasar a las siguientes salas y terminar el juego.</p>
<div class="descripcion">
    <p>En esta sala de escape cumplís el rol de un prisionero dentro de una carcel. Tu objetivo es lograr escapar y, 
    para tu buena suerte, no estas solo. Un policía te ayudará a escapar, pero no será fácil. No podrás tener contacto 
    directo con él pero te dejará pistas
    para que puedas llegar a la salida.</p>
</div>
<div class="imagenes">
    <img src="~/imagenes/4.jpg">
    <img src="~/imagenes/5.jpg">
    <img src="~/imagenes/6.jpg">
</div>
<a href='@Url.Action("Index")'><input type="button" value="INICIO">