<link rel="stylesheet" href="~/css/site.css">
<h1>¡FELICITACIONES!</h1>
<p>Has logrado escapar! </p>
<img class="imgSala" src="~/imagenes/ganador.jpg">
<br>
<a href='@Url.Action("Index")'><input type="button" value="VOLVER AL INICIO"></a>